body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: cyan; */
  }
  
  h1 {
    text-align: center;
    color: #e52d27;
    margin-bottom: 20px;
    border: 2px solid maroon;
    border-radius: 5px;
    margin-left: 1%;
    margin-right: 1%;
  }
  h1:hover {
    text-align: center;
    color: yellow;
    margin-bottom: 20px;
    border: 2px solid maroon;
    border-radius: 5px;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #191a17;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: cyan; */
  }


  
  .card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #cdbdb7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1.5px dashed maroon;
  }
  
  .card img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    border: 1px solid rgb(176, 4, 12);
    border-radius: 5px;
  }

  .card img:hover {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    background-color: rgb(5, 204, 254);
    border: 1px dotted rgb(155, 18, 6);
  }
  .card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: yellow;
    background-color: #191a17;
  }
  
  .card p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #777777;
  }
  
  .card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .card ul li {
    font-size: 14px;
    margin-bottom: 3px;
    color: #555555;
  }
  
  /* .pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #e52d27;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .page-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .page-button {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    color: #e52d27;
    font-size: 14px;
    cursor: pointer;
  }
  
  .page-button.active {
    font-weight: bold;
  }
   */
   .pagination {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 999;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #e52d27;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .page-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .page-button {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    color: #e52d27;
    font-size: 14px;
    cursor: pointer;
  }
  
  .page-button.active {
    font-weight: bold;
  }
  